<form action="/create" method="POST">
    <h2>Додати студента</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Ведіть ФІО</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

